## One Day Python Assignment
This is the assignment intended to teach Python from the basics all the way to using Pandas Dataframes. It is not intended to be comprehensive, but rather a survey of the major topics to get the learner from point A to B.    
   
Part 1 will be worth 100 points and Part 2 will be worth 100 points. There will only be one assignment on Canvas worth 100 points. The final grade for this will be divided by 2 and rounded up.     
So if you got 100 on Part 1 and 67 on Part 2, you will have 167 / 2 = 83.5. Extra credit is added onto Part 1, so, again: if you got 110 on Part 1 and 67 on Part 2, you will have 177 / 2 = 90.

### PART 1

 1. Print “Hello World”  (2 pts)

In [ ]:
print("Hellow World")

Hellow World

2.  Save your age to a variable called “age”    
3.  Print “Hello World, I’m (age variable) today.”    (5 pts)

In [ ]:
age=27
print(f"Hello World i'm {age} todawy")

Hello World i'm 27 todawy

4. Print “hello world” in all upper case using a Python string method to alter it (4 pts)

In [ ]:
strng= "hello world"
print(strng.upper())

HELLO WORLD

 5. Save any decimal in a variable called a.   
 Cast a into an int and save it as b.  
 Cast a into a string and save it as c.   
 Print each variable and its type.   (11 pts)

In [ ]:
a=1.4
print(a,type(a))
b=int(a)
print(b,type(b))
c=str(a)
print(c,type(c))

1.4 <class 'float'>
1 <class 'int'>
1.4 <class 'str'>

6. Create a tuple of your favorite things to eat and print it.   (4 pts)

In [ ]:
mytuple=["oreos","steak","grits"]
print(mytuple)

['oreos', 'steak', 'grits']

7. Create a dictionary named ‘classes’ with the name of the classes you are taking as the keys and the professors names as the values.
Print the dictionary and tuple.   (10 pts)

In [ ]:
classes = {
    "Intro Programming in Python": "Juan Yepes",
    "Princip of Programmg Languages": "Eric Lloyd"
}

print(classes)

classes_tuple = tuple(classes.items())

print(classes_tuple)

{'Intro Programming in Python': 'Juan Yepes', 'Princip of Programmg Languages': 'Eric Lloyd'}
(('Intro Programming in Python', 'Juan Yepes'), ('Princip of Programmg Languages', 'Eric Lloyd'))

8. Create a list called “whole” and put every number in it from 1 - 100  (10 pts)

In [ ]:
whole=[]
i=0
while i<= 100:
  whole.append(i)
  i+=1
print(whole)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

9. Create 4 empty lists called ‘div2’, ‘div3’, ‘div4’, and ‘div5’       
Create a loop that examines each number from 1 to 100 and:    
 If it is divisible by 2, put it in div2   (6 pts)    
 If it is divisible by 3, put it in div3   (6 pts)     
 If it is divisible by 4, put it in div4   (6 pts)    
 If it is divisible by 5, put it in div5   (6 pts)    
 Print all 5 of these lists

In [ ]:
div2 = []
div3 = []
div4 = []
div5 = []

for num in range(1, 101):
    if num % 2 == 0:
        div2.append(num)
    if num % 3 == 0:
        div3.append(num)
    if num % 4 == 0:
        div4.append(num)
    if num % 5 == 0:
        div5.append(num)
print("Numbers divisible by 2:", div2)
print("Numbers divisible by 3:", div3)
print("Numbers divisible by 4:", div4)
print("Numbers divisible by 5:", div5)

Numbers divisible by 2: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
Numbers divisible by 3: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
Numbers divisible by 4: [4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100]
Numbers divisible by 5: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

10. Create a new list called “divOver5”   (3 pts)

In [ ]:
divOver5 = []

11. Create a new loop that goes through each number 1 through 100 and appends it to divOver5 if it is NOT IN div2 or div3 or div4 or div5      
 You must use logical operators here.   
Print divOver5   (10 points)

In [ ]:
for num in range(1, 101):
  if num not in div2 and num not in div3 and num not in div4 and num not in div5:
        divOver5.append(num)
print("Numbers not divisible by 2, 3, 4, or 5:", divOver5)

Numbers not divisible by 2, 3, 4, or 5: [1, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 49, 53, 59, 61, 67, 71, 73, 77, 79, 83, 89, 91, 97, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 1, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 49, 53, 59, 61, 67, 71, 73, 77, 79, 83, 89, 91, 97]

12. Create a function called exp3 that takes an int x, raises it to the third power.     
Create a string in the function that says “x^3 = “ and concatenate x onto the end of the string.      
Now return the string from the function.  Call the function exp3 and print what it returns.   (15 pts)

In [ ]:
def exp3(x):
    result = x ** 3
    output= f"{x}^3 = {result}"
    return output

result_string = exp3(12)
print(result_string)

12^3 = 1728

13. Iterate through the classes dictionary and print the keys    (5 pts)

In [ ]:
for class_name in classes.keys():
    print(class_name)

Intro Programming in Python
Princip of Programmg Languages

14. Iterate through the classes dictionary and print the values   (5 pts)

In [ ]:
for prof_name in classes.values():
    print(prof_name)

Juan Yepes
Eric Lloyd

(Worth +10 points) Extra Points:   
Create a class called Student that has the properties:    
	name (holds student name)    
	age (holds student age)    
	birthmonth (hold students birthmonth)

	A count variable exists that is set to 0 (see lecture) and upon each call to the class this variable increments     

	2 functions in the class:  displayName which returns the name of the student and displayBirthmonth which returns the birth month of the student    

	Now create 3 students, use whatever data you want.       
	Call displayName() on student1     
	Call displayBirthmonth() on student2    
	print the student count

In [3]:
class Student:
    count = 0

    def __init__(self, name, age, birthmonth):
        self.name = name
        self.age = age
        self.birthmonth = birthmonth
        Student.count += 1

    def displayName(self):
        return self.name

    def displayBirthmonth(self):
        return self.birthmonth


student1 = Student("Carolina", 20, "January")
student2 = Student("Ian", 22, "March")
student3 = Student("Sean", 21, "June")

print("Student 1 Name:", student1.displayName())
print("Student 2 Birth Month:", student2.displayBirthmonth())
print("Student Count:", Student.count)

Student 1 Name: Carolina
Student 2 Birth Month: March
Student Count: 3

### PART 2

This part will require you to use the film_results.txt file provided on Canvas. You will also need to import NumPy and Pandas.

1. Move the film_results.txt file from Blackboard into your project directory.     
 Create 3 lists, one for states, one for shows, and one for viewers.     
 Ingest data from text file and put it into a NumPy array (show_results.txt)      
	Itll look like a nested list.       
          [ [‘Oregon’, ‘Once Upon a Time’, ‘4075’] [...] …]     
 Print the raw data   (10 pts)

In [16]:
import numpy as np
import pandas as pd

# Load data from the text file into a NumPy array
data = np.genfromtxt('film_results.txt', delimiter=',', dtype=str)


states = data[:, 0].tolist()
shows = data[:, 1].tolist()
viewers = data[:, 2].tolist()


print(data)

[['Oregon' 'Once Upon a Time' '4075']
 ['Washington' 'Vikings' '3739']
 ['Washington' 'Game of Thrones' '3997']
 ['Nevada' 'Vikings' '1682']
 ['Washington' 'Game of Thrones' '8983']
 ['Washington' 'Vikings' '145']
 ['Idaho' 'Daredevil' '2663']
 ['California' 'Game of Thrones' '6361']
 ['Idaho' 'Game of Thrones' '6788']
 ['Idaho' 'The Flash' '3064']
 ['Oregon' 'Gotham' '9389']
 ['Washington' 'The Walking Dead' '4301']
 ['Nevada' 'Game of Thrones' '7328']
 ['California' 'The Flash' '9003']
 ['Nevada' 'Gotham' '8575']
 ['Idaho' 'Suits' '3239']
 ['Idaho' 'Gotham' '6695']
 ['Nevada' 'The Flash' '594']
 ['Nevada' 'The Flash' '3793']
 ['Nevada' 'Suits' '8544']
 ['California' 'Vikings' '1059']
 ['Nevada' 'Daredevil' '8200']
 ['California' 'Daredevil' '1856']
 ['Washington' 'Suits' '2871']
 ['Washington' 'Better Call Saul' '9574']
 ['Idaho' 'Vikings' '5218']
 ['Idaho' 'The Walking Dead' '6256']
 ['Nevada' 'Vikings' '8581']
 ['Oregon' 'Game of Thrones' '2460']
 ['Washington' 'Vikings' '728']
 ['Oregon' 'Vikings' '7495']
 ['Oregon' 'The Flash' '2103']
 ['Idaho' 'Better Call Saul' '8179']
 ['Oregon' 'Orange is the New Black' '1144']
 ['Nevada' 'Vikings' '7514']
 ['Washington' 'The Flash' '271']
 ['California' 'The Walking Dead' '4353']
 ['Nevada' 'Game of Thrones' '7647']
 ['California' 'Suits' '3408']
 ['Oregon' 'The Flash' '8443']
 ['Washington' 'Better Call Saul' '1970']
 ['Oregon' 'Vikings' '1711']
 ['Nevada' 'The Walking Dead' '825']
 ['Oregon' 'Better Call Saul' '7875']
 ['Idaho' 'Suits' '1333']
 ['California' 'Once Upon a Time' '9753']
 ['Nevada' 'Daredevil' '4233']
 ['Nevada' 'Orange is the New Black' '1349']
 ['California' 'Gotham' '1473']
 ['Idaho' 'Gotham' '4176']
 ['California' 'Suits' '2193']
 ['Oregon' 'Gotham' '8477']
 ['Washington' 'Gotham' '6834']
 ['Oregon' 'Suits' '2569']
 ['Oregon' 'Gotham' '8284']
 ['Oregon' 'The Flash' '4729']
 ['Washington' 'Game of Thrones' '4988']
 ['California' 'Game of Thrones' '1177']
 ['Nevada' 'Vikings' '9210']
 ['Oregon' 'Daredevil' '6374']
 ['Idaho' 'The Flash' '9114']
 ['California' 'Suits' '9049']
 ['Nevada' 'Once Upon a Time' '6639']
 ['Idaho' 'Orange is the New Black' '5225']
 ['Washington' 'The Flash' '4988']
 ['Washington' 'Once Upon a Time' '2103']
 ['Oregon' 'Suits' '6207']
 ['Nevada' 'Vikings' '6859']
 ['California' 'Suits' '1314']
 ['Idaho' 'The Flash' '6491']
 ['Nevada' 'Game of Thrones' '5764']
 ['Nevada' 'Daredevil' '960']
 ['Nevada' 'Game of Thrones' '5205']
 ['Washington' 'Daredevil' '2241']
 ['Idaho' 'Once Upon a Time' '6930']
 ['Washington' 'Orange is the New Black' '3699']
 ['Oregon' 'The Walking Dead' '8447']
 ['Washington' 'Better Call Saul' '3784']
 ['Nevada' 'Game of Thrones' '9469']
 ['California' 'Daredevil' '4746']
 ['California' 'Better Call Saul' '8430']
 ['Idaho' 'Game of Thrones' '742']
 ['Oregon' 'Better Call Saul' '9322']
 ['California' 'The Flash' '3254']
 ['Oregon' 'The Flash' '5103']
 ['California' 'Orange is the New Black' '7291']
 ['Oregon' 'The Flash' '8395']
 ['California' 'Daredevil' '7304']
 ['Nevada' 'Suits' '2707']
 ['Washington' 'Game of Thrones' '2547']
 ['Nevada' 'Daredevil' '5555']
 ['Oregon' 'Gotham' '6505']
 ['Idaho' 'Daredevil' '1817']
 ['Nevada' 'Better Call Saul' '7268']
 ['Nevada' 'Vikings' '8161']
 ['California' 'Game of Thrones' '517']
 ['Oregon' 'Daredevil' '2439']
 ['California' 'Game of Thrones' '7332']
 ['Oregon' 'Daredevil' '6149']]

2.  Take the data from the NumPy array and sort it by state, show and viewers, putting each into the appropriate lists you defined earlier.  (so now you have 3 lists, one with states, one with shows and one with viewer counts.)  No duplicates in the states and shows.  Duplicates can and should exist in the viewers.      
So the states list will look like this: ['Washington', 'Nevada', 'Idaho', 'California', 'Oregon']      
 Print these unsorted lists    (5 pts)

In [11]:
print("States:", states)
print("Shows:", shows)
print("Viewers:", viewers)

States: ['Oregon', 'Washington', 'Washington', 'Nevada', 'Washington', 'Washington', 'Idaho', 'California', 'Idaho', 'Idaho', 'Oregon', 'Washington', 'Nevada', 'California', 'Nevada', 'Idaho', 'Idaho', 'Nevada', 'Nevada', 'Nevada', 'California', 'Nevada', 'California', 'Washington', 'Washington', 'Idaho', 'Idaho', 'Nevada', 'Oregon', 'Washington', 'Oregon', 'Oregon', 'Idaho', 'Oregon', 'Nevada', 'Washington', 'California', 'Nevada', 'California', 'Oregon', 'Washington', 'Oregon', 'Nevada', 'Oregon', 'Idaho', 'California', 'Nevada', 'Nevada', 'California', 'Idaho', 'California', 'Oregon', 'Washington', 'Oregon', 'Oregon', 'Oregon', 'Washington', 'California', 'Nevada', 'Oregon', 'Idaho', 'California', 'Nevada', 'Idaho', 'Washington', 'Washington', 'Oregon', 'Nevada', 'California', 'Idaho', 'Nevada', 'Nevada', 'Nevada', 'Washington', 'Idaho', 'Washington', 'Oregon', 'Washington', 'Nevada', 'California', 'California', 'Idaho', 'Oregon', 'California', 'Oregon', 'California', 'Oregon', 'California', 'Nevada', 'Washington', 'Nevada', 'Oregon', 'Idaho', 'Nevada', 'Nevada', 'California', 'Oregon', 'California', 'Oregon']
Shows: ['Once Upon a Time', 'Vikings', 'Game of Thrones', 'Vikings', 'Game of Thrones', 'Vikings', 'Daredevil', 'Game of Thrones', 'Game of Thrones', 'The Flash', 'Gotham', 'The Walking Dead', 'Game of Thrones', 'The Flash', 'Gotham', 'Suits', 'Gotham', 'The Flash', 'The Flash', 'Suits', 'Vikings', 'Daredevil', 'Daredevil', 'Suits', 'Better Call Saul', 'Vikings', 'The Walking Dead', 'Vikings', 'Game of Thrones', 'Vikings', 'Vikings', 'The Flash', 'Better Call Saul', 'Orange is the New Black', 'Vikings', 'The Flash', 'The Walking Dead', 'Game of Thrones', 'Suits', 'The Flash', 'Better Call Saul', 'Vikings', 'The Walking Dead', 'Better Call Saul', 'Suits', 'Once Upon a Time', 'Daredevil', 'Orange is the New Black', 'Gotham', 'Gotham', 'Suits', 'Gotham', 'Gotham', 'Suits', 'Gotham', 'The Flash', 'Game of Thrones', 'Game of Thrones', 'Vikings', 'Daredevil', 'The Flash', 'Suits', 'Once Upon a Time', 'Orange is the New Black', 'The Flash', 'Once Upon a Time', 'Suits', 'Vikings', 'Suits', 'The Flash', 'Game of Thrones', 'Daredevil', 'Game of Thrones', 'Daredevil', 'Once Upon a Time', 'Orange is the New Black', 'The Walking Dead', 'Better Call Saul', 'Game of Thrones', 'Daredevil', 'Better Call Saul', 'Game of Thrones', 'Better Call Saul', 'The Flash', 'The Flash', 'Orange is the New Black', 'The Flash', 'Daredevil', 'Suits', 'Game of Thrones', 'Daredevil', 'Gotham', 'Daredevil', 'Better Call Saul', 'Vikings', 'Game of Thrones', 'Daredevil', 'Game of Thrones', 'Daredevil']
Viewers: ['4075', '3739', '3997', '1682', '8983', '145', '2663', '6361', '6788', '3064', '9389', '4301', '7328', '9003', '8575', '3239', '6695', '594', '3793', '8544', '1059', '8200', '1856', '2871', '9574', '5218', '6256', '8581', '2460', '728', '7495', '2103', '8179', '1144', '7514', '271', '4353', '7647', '3408', '8443', '1970', '1711', '825', '7875', '1333', '9753', '4233', '1349', '1473', '4176', '2193', '8477', '6834', '2569', '8284', '4729', '4988', '1177', '9210', '6374', '9114', '9049', '6639', '5225', '4988', '2103', '6207', '6859', '1314', '6491', '5764', '960', '5205', '2241', '6930', '3699', '8447', '3784', '9469', '4746', '8430', '742', '9322', '3254', '5103', '7291', '8395', '7304', '2707', '2547', '5555', '6505', '1817', '7268', '8161', '517', '2439', '7332', '6149']

3. Convert all 3 lists into NumPy arrays     
 print new NumPy Arrays    (10 pts)

In [27]:
nparray = np.array((states, shows, viewers))
print(nparray)

[['Oregon' 'Washington' 'Washington' 'Nevada' 'Washington' 'Washington'
  'Idaho' 'California' 'Idaho' 'Idaho' 'Oregon' 'Washington' 'Nevada'
  'California' 'Nevada' 'Idaho' 'Idaho' 'Nevada' 'Nevada' 'Nevada'
  'California' 'Nevada' 'California' 'Washington' 'Washington' 'Idaho'
  'Idaho' 'Nevada' 'Oregon' 'Washington' 'Oregon' 'Oregon' 'Idaho'
  'Oregon' 'Nevada' 'Washington' 'California' 'Nevada' 'California'
  'Oregon' 'Washington' 'Oregon' 'Nevada' 'Oregon' 'Idaho' 'California'
  'Nevada' 'Nevada' 'California' 'Idaho' 'California' 'Oregon'
  'Washington' 'Oregon' 'Oregon' 'Oregon' 'Washington' 'California'
  'Nevada' 'Oregon' 'Idaho' 'California' 'Nevada' 'Idaho' 'Washington'
  'Washington' 'Oregon' 'Nevada' 'California' 'Idaho' 'Nevada' 'Nevada'
  'Nevada' 'Washington' 'Idaho' 'Washington' 'Oregon' 'Washington'
  'Nevada' 'California' 'California' 'Idaho' 'Oregon' 'California'
  'Oregon' 'California' 'Oregon' 'California' 'Nevada' 'Washington'
  'Nevada' 'Oregon' 'Idaho' 'Nevada' 'Nevada' 'California' 'Oregon'
  'California' 'Oregon']
 ['Once Upon a Time' 'Vikings' 'Game of Thrones' 'Vikings'
  'Game of Thrones' 'Vikings' 'Daredevil' 'Game of Thrones'
  'Game of Thrones' 'The Flash' 'Gotham' 'The Walking Dead'
  'Game of Thrones' 'The Flash' 'Gotham' 'Suits' 'Gotham' 'The Flash'
  'The Flash' 'Suits' 'Vikings' 'Daredevil' 'Daredevil' 'Suits'
  'Better Call Saul' 'Vikings' 'The Walking Dead' 'Vikings'
  'Game of Thrones' 'Vikings' 'Vikings' 'The Flash' 'Better Call Saul'
  'Orange is the New Black' 'Vikings' 'The Flash' 'The Walking Dead'
  'Game of Thrones' 'Suits' 'The Flash' 'Better Call Saul' 'Vikings'
  'The Walking Dead' 'Better Call Saul' 'Suits' 'Once Upon a Time'
  'Daredevil' 'Orange is the New Black' 'Gotham' 'Gotham' 'Suits'
  'Gotham' 'Gotham' 'Suits' 'Gotham' 'The Flash' 'Game of Thrones'
  'Game of Thrones' 'Vikings' 'Daredevil' 'The Flash' 'Suits'
  'Once Upon a Time' 'Orange is the New Black' 'The Flash'
  'Once Upon a Time' 'Suits' 'Vikings' 'Suits' 'The Flash'
  'Game of Thrones' 'Daredevil' 'Game of Thrones' 'Daredevil'
  'Once Upon a Time' 'Orange is the New Black' 'The Walking Dead'
  'Better Call Saul' 'Game of Thrones' 'Daredevil' 'Better Call Saul'
  'Game of Thrones' 'Better Call Saul' 'The Flash' 'The Flash'
  'Orange is the New Black' 'The Flash' 'Daredevil' 'Suits'
  'Game of Thrones' 'Daredevil' 'Gotham' 'Daredevil' 'Better Call Saul'
  'Vikings' 'Game of Thrones' 'Daredevil' 'Game of Thrones' 'Daredevil']
 ['4075' '3739' '3997' '1682' '8983' '145' '2663' '6361' '6788' '3064'
  '9389' '4301' '7328' '9003' '8575' '3239' '6695' '594' '3793' '8544'
  '1059' '8200' '1856' '2871' '9574' '5218' '6256' '8581' '2460' '728'
  '7495' '2103' '8179' '1144' '7514' '271' '4353' '7647' '3408' '8443'
  '1970' '1711' '825' '7875' '1333' '9753' '4233' '1349' '1473' '4176'
  '2193' '8477' '6834' '2569' '8284' '4729' '4988' '1177' '9210' '6374'
  '9114' '9049' '6639' '5225' '4988' '2103' '6207' '6859' '1314' '6491'
  '5764' '960' '5205' '2241' '6930' '3699' '8447' '3784' '9469' '4746'
  '8430' '742' '9322' '3254' '5103' '7291' '8395' '7304' '2707' '2547'
  '5555' '6505' '1817' '7268' '8161' '517' '2439' '7332' '6149']]

4. Sort the States and Shows arrays      
	Now your States array will look like:      
	['California', 'Idaho', 'Nevada', 'Oregon', 'Washington']      
Convert the Viewers array from STRINGS into INTS      
Sum up viewers list into one variable (you can do this in one line)       
Print: Sorted arrays (states and shows), viewers list (as ints), and the variable that is the sum of the viewers list.        (30 pts)

In [15]:

sorted_states = sorted(set(states))
sorted_shows = sorted(set(shows))

viewers = [int(viewer) for viewer in viewers]
total_viewers = sum(viewers)

print("Sorted States:", sorted_states)
print("Sorted Shows:", sorted_shows)
print("Viewers list:", viewers)
print("Total Viewers:", total_viewers)

Sorted States: ['California', 'Idaho', 'Nevada', 'Oregon', 'Washington']
Sorted Shows: ['Better Call Saul', 'Daredevil', 'Game of Thrones', 'Gotham', 'Once Upon a Time', 'Orange is the New Black', 'Suits', 'The Flash', 'The Walking Dead', 'Vikings']
Viewers list: [4075, 3739, 3997, 1682, 8983, 145, 2663, 6361, 6788, 3064, 9389, 4301, 7328, 9003, 8575, 3239, 6695, 594, 3793, 8544, 1059, 8200, 1856, 2871, 9574, 5218, 6256, 8581, 2460, 728, 7495, 2103, 8179, 1144, 7514, 271, 4353, 7647, 3408, 8443, 1970, 1711, 825, 7875, 1333, 9753, 4233, 1349, 1473, 4176, 2193, 8477, 6834, 2569, 8284, 4729, 4988, 1177, 9210, 6374, 9114, 9049, 6639, 5225, 4988, 2103, 6207, 6859, 1314, 6491, 5764, 960, 5205, 2241, 6930, 3699, 8447, 3784, 9469, 4746, 8430, 742, 9322, 3254, 5103, 7291, 8395, 7304, 2707, 2547, 5555, 6505, 1817, 7268, 8161, 517, 2439, 7332, 6149]
Total Viewers: 499923

5. Create 2 DataFrames:      
show_raw_stats: index = numpy sorted array of SHOWS; columns = numpy sorted array of STATES      
show_agg_stats: index = same as above; columns= a list with the words Max, Min, Totals and Percent in it (like this… [‘Max’,’Min’,’Totals’, ‘Percent’]        
Populate show_raw_stats with data from the Original Array ingested from film_results.txt.
Populate the Max, Min, Totals, and Percent in show_agg_stats using the DataFrame native functionality    
Print both dataframe   (30 pts)     

HINT:  You will need to create a loop here that basically goes the length of the original array, and on each iteration, it grabs the STATE, SHOW, and VIEWERS number (itll be a string so youll have to convert it…).    
The final step of each iteration will be placing it in the dataframe in the correct spot as an accumulation. +=      (Otherwise you just writing over the value there)

In [26]:
show_raw_stats = pd.DataFrame(index=sorted_shows, columns=sorted_states)

for state, show, viewer in zip(states, shows, viewers):
    viewer = int(viewer)

    if pd.notnull(show_raw_stats.loc[show, state]):
        show_raw_stats.loc[show, state] += viewer
    else:
        show_raw_stats.loc[show, state] = viewer

show_raw_stats = show_raw_stats.fillna(0)

show_agg_stats = pd.DataFrame(index=sorted_shows, columns=['Max', 'Min', 'Total', 'Percent'])

# Populate Max, Min, Total, and Percent in show_agg_stats
show_agg_stats['Max'] = show_raw_stats.max(axis=1)
show_agg_stats['Min'] = show_raw_stats.min(axis=1)
show_agg_stats['Total'] = show_raw_stats.sum(axis=1)
show_agg_stats['Percent'] = (show_agg_stats['Total'] / show_agg_stats['Total'].sum()) * 100

# Print both DataFrames
print("show_raw_stats:")
print(show_raw_stats)
print("\nshow_agg_stats:")
print(show_agg_stats)

show_raw_stats:
                         California  Idaho  Nevada  Oregon  Washington
Better Call Saul               8430   8179    7268   17197       15328
Daredevil                     13906   4480   18948   14962        2241
Game of Thrones               15387   7530   35413    2460       20515
Gotham                         1473  10871    8575   32655        6834
Once Upon a Time               9753   6930    6639    4075        2103
Orange is the New Black        7291   5225    1349    1144        3699
Suits                         15964   4572   11251    8776        2871
The Flash                     12257  18669    4387   28773        5259
The Walking Dead               4353   6256     825    8447        4301
Vikings                        1059   5218   42007    9206        4612

show_agg_stats:
                           Max   Min  Total    Percent
Better Call Saul         17197  7268  56402  11.282137
Daredevil                18948  2241  54537  10.909080
Game of Thrones          35413  2460  81305  16.263505
Gotham                   32655  1473  60408  12.083461
Once Upon a Time          9753  2103  29500   5.900909
Orange is the New Black   7291  1144  18708   3.742176
Suits                    15964  2871  43434   8.688138
The Flash                28773  4387  69345  13.871136
The Walking Dead          8447   825  24182   4.837145
Vikings                  42007  1059  62102  12.422313

6. Print the answer to these questions in a Markdown cell, do not print them with Python:        
Which Show has the highest percentage?   (5 pts)      
Which Show has the lowest percentage?    (5 pts)     
Which show is your favorite?             (5 pts)

* highest: game of thrones
* lowest: orange is the new black
* favorite: the walking dead "never saw teh other shows so this is it by
  default"

### Please try to follow the directions as closely as possible.  You might think of better ways to implement this, with less lines of code the skips steps and thats great, but not for this assignment.  If you do think of these, put them in comments and extra points will be given for those but follow these steps.